<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../style/style.css">


<body>
Enable Radio:
<div class="mdc-form-field">
    <div class="mdc-radio">
      <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios" checked>
      <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
      </div>
      <div class="mdc-radio__ripple"></div>
    </div>
    <label for="radio-1">Radio 1</label>

    <div class="mdc-radio">
        <input class="mdc-radio__native-control" type="radio" id="radio-2" name="radios" checked>
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
      </div>
      <label for="radio-2">Radio 2</label>

      <div class="mdc-radio">
        <input class="mdc-radio__native-control" type="radio" id="radio-3" name="radios" checked>
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
      </div>
      <label for="radio-2">Radio 3</label>

  </div>
</br></br>

Disable Radio:
  <div class="mdc-form-field">
    <div class="mdc-radio mdc-radio--disabled">
      <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios" disabled>
      <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
      </div>
      <div class="mdc-radio__ripple"></div>
    </div>
    <label for="radio-1">Radio 1</label>
  </div>
</body>