html, body {
    width: 100%;
    overflow-x: hidden; }
  
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0; }
  
  a {
    color: #ff00cc;
    transition: all .3s ease-in-out; }
  
  a:focus,
  button:focus {
    outline: none; }
  
  .btn:hover,
  a:hover {
    text-decoration: none;
    color: #333399; }
  
  img {
    max-width: 100%; }
  
  .bg-fixed {
    background-size: cover; }
  
  .bg-grey {
    background-color: #f7f8f9; }
  
  section {
    position: relative; }
  
  .section-content {
    padding-top: 40px;
    padding-bottom: 80px; }

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  
  .title-wrap,
  .section-title {
    text-align: center; }
  
    .shadow {
      box-shadow: 0 10px 30px 0 rgb(67 80 98 / 24%), 0 2px 4px 0 rgb(67 80 98 / 10%) !important;
  }
  
  #header-navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  
  .navbar-brand {
    font-size: 40px;
    color: #000; }
  
  .navbar-nav .nav-link {
    color: #fff;
    transition: .3s ease; }
  
  .navbar-nav:hover li a {
    opacity: 0.5; }
    .navbar-nav:hover li a:hover {
      opacity: 1; }
  
  .navbar-toggler {
    font-size: 2rem;
    color: #fff; }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

  /*==========================================
=          Landing page     =
==========================================*/
.rectangle-1 {
    width: 2000px;
    height: 400px;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    transform-origin: 50% 150% 0;
    position: absolute;
    left: 0;
    z-index: 0;
    transform: scale(1) rotate(-10deg); }
  
  .rectangle-2 {
    width: 2000px;
    height: 400px;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    transform-origin: 65% 100% 0;
    position: absolute;
    right: 0;
    z-index: 0;
    transform: scale(1) rotate(50deg); }
  
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-100vw) rotate(-15deg); }
    to {
      opacity: 1;
      transform: translateX(0) rotate(-15deg); } }
  
  @keyframes grow1 {
    from {
      opacity: 0;
      transform: scale(2) rotate(-10deg); }
    to {
      opacity: 1;
      transform: scale(1) rotate(-10deg); } }
  
  @keyframes grow2 {
    from {
      opacity: 0;
      transform: scale(2) rotate(50deg); }
    to {
      opacity: 1;
      transform: scale(1) rotate(50deg); } }
  
  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-20px); }
    to {
      opacity: 1;
      transform: translateY(0); } }
  
  .rectangle-1 {
    opacity: 0;
    animation: grow1 ease 1s forwards;
    box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }
  
  .rectangle-2 {
    opacity: 0;
    animation: grow2 ease 1s forwards;
    box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }
  
  .rectangle-transparent-1 {
    width: 500px;
    height: 500px;
    border: 15px solid rgba(255, 255, 255, 0.08);
    position: absolute;
    left: -5%;
    bottom: -10%;
    display: block;
    animation: floating-slow ease-in-out 12s infinite; }
  
  .rectangle-transparent-2 {
    width: 600px;
    height: 600px;
    border: 15px solid rgba(255, 255, 255, 0.08);
    position: absolute;
    right: -10%;
    top: 5%;
    display: block;
    animation: floating-slow ease-in-out 12s infinite; }
  
  .circle-1 {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    border-radius: 50%;
    transform-origin: 50% 50%;
    left: 5%;
    top: 50%;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite; }
  
  .circle-2 {
    width: 70px;
    height: 70px;
    top: 20%;
    left: 83%;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    border-radius: 50%;
    transform-origin: 50% 50%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }
  
  .circle-3 {
    top: 80%;
    right: 25%;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    border-radius: 50%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }
  
  @keyframes floating {
    0% {
      transform: translate(0%, 0%) rotate(25deg); }
    25% {
      transform: translate(5%, 15%) rotate(25deg); }
    50% {
      transform: translate(10%, 5%) rotate(25deg); }
    75% {
      transform: translate(0%, 15%) rotate(25deg); }
    100% {
      transform: translate(0%, 0%) rotate(25deg); } }
  
  @keyframes floating-slow {
    0% {
      transform: translate(0%, 0%) rotate(25deg); }
    25% {
      transform: translate(1%, 3%) rotate(25deg); }
    50% {
      transform: translate(2%, 1%) rotate(25deg); }
    75% {
      transform: translate(0%, 3%) rotate(25deg); }
    100% {
      transform: translate(0%, 0%) rotate(25deg); } }
  
  .triangle {
    position: absolute; }
  
  .triangle-1 {
    right: 0;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite; }
    .triangle-1 img {
      height: 50px;
      width: 50px;
      transform: rotate(30deg); }
  
  .triangle-2 {
    top: 30%;
    left: 20%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite; }
    .triangle-2 img {
      width: 75px;
      height: 75px;
      transform: rotate(15deg); }
  
  .triangle-3 {
    top: 80%;
    left: 15%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite; }
    .triangle-3 img {
      width: 45px;
      height: 45px;
      transform: rotate(40deg); }
  
  .triangle-4 {
    top: 60%;
    right: 15%;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite; }
    .triangle-4 img {
      width: 45px;
      height: 45px;
      transform: rotate(-40deg); }
  
  
.text-center{
    text-align: center!important;
}

  .jumbotron {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
    min-height: 100vh; 
  }

    @media (max-width: 767px) and (orientation: landscape) {
      .jumbotron {
        min-height: 500px; } }
    .jumbotron .container {
      position: relative;
      z-index: 1; }
    .jumbotron:before {
      position: absolute;
      display: block;
      content: "";
      opacity: 0.8;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #ff00cc;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #333399, #ff00cc);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #333399, #ff00cc);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .jumbotron h1 {
      line-height: 1;
      font-weight: bold;
      display: inline-block;
      border: 2px solid #fff;
      padding: 20px;
      font-size: 3rem;
      opacity: 0;
      animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
      animation-delay: .8s; }
  
  .jumbotron-single h1 {
    font-size: 3rem !important; }
  
  .overlay {
    color: #fff; }
    .overlay:before {
      position: absolute;
      display: block;
      content: "";
      opacity: 0.9;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #ff00cc;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #333399, #ff00cc);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #333399, #ff00cc);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .overlay.bg-white {
      color: #000; }
      .overlay.bg-white:before {
        background: #fff;
        opacity: .7; }
  
  .text-white {
    color: #fff; }
  /*==========================================
=         Feature Item     =
==========================================*/

.feature-item {
  background-color: #ffffffec;
  transition: all .2s ease-in-out 0s !important;
}
      .feature-item:hover {
      transform: translateY(-13px); 
    }

    .h4, h4 {
      color: #000000;
      font-size: 1.5rem;
  }

  .h4, h4:hover{
    color: #ff00cc;
    font-size: 1.5rem;
}

  .fs-40 {
    font-size: 40px;
 }


  .lnr{
    color: #ff00cc;
  }

  /* Web Components */

  .mdc-top-app-bar{
    margin-left: -10px;
    margin-top: -10px;
}

.mdc-button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.mdc-fab{
    margin: 15px;
}

.mdc-card{
    width: 290px;
    margin: 20px;
    padding: 20px;
}

.my-card__media {
    background-image: url("../assests/download.jpg");
  }

  .mdc-icon-button{
      margin-left: 35px;
  }

  .mdc-image-list__image{
    padding-top: 20;
    padding-left: 32;
    padding-right: 32;
  }

  .mdc-image-list--masonry  {
    display: block;
    width: 50%;
}

.mdc-image-list__label{
  padding-left: 90;
}

.product-list {
  padding: 80px 100px 0;
  margin-left: 30px;
  margin-right: 30px;
}