<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="./image.scss">
<link rel="js" href="../index.js">

<ul class="mdc-image-list product-list">
  <li class="mdc-image-list__item">
    <img class="mdc-image-list__image" src="../assests/download.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Ginger scarf</span>
    </div>
  </li>
  <li class="mdc-image-list__item">
    <img class="mdc-image-list__image" src="../assests/download.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Ginger scarf</span>
    </div>
  </li>
  <li class="mdc-image-list__item">
    <img class="mdc-image-list__image" src="../assests/download.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Ginger scarf</span>
    </div>
  </li>
  <li class="mdc-image-list__item">
    <img class="mdc-image-list__image" src="../assests/download.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Ginger scarf</span>
    </div>
  </li>
  <li class="mdc-image-list__item">
    <img class="mdc-image-list__image" src="../assests/download.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Ginger scarf</span>
    </div>
  </li>
  </ul>



  
  <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="../assests/download.jpg">
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">Text label</span>
      </div>
    </li>
    <li class="mdc-image-list__item">
        <img class="mdc-image-list__image" src="../assests/download.jpg">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
  </ul>