* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  header#playground_header {
    background: #6f42c1;
    height: 75px;
  }

  header#playground_header > h1 {
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
  }
  iframe#code {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 40vh;
    border: unset;
    background: #f2f4f6;
  }
  .prism-live {
    min-height: 350px;
    overflow-x: hidden;
    width: 100%;
  }
  div#coding_area > div {
    width: 100%;
    border-left: 15px solid #6610f2;
  }
  div#coding_area > div:first-child {
    border-left: none;
  }
  div#coding_area {
    width: 100%;
    height: calc(60vh - 60px);
    min-height: 125px;
    display: flex;
    overflow: hidden;
    border-bottom: 15px solid #6610f2;
  }
  div#code_output {
    height: 100%;
  }